<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application">
            <directory>./tests/Cases/Application</directory>
        </testsuite>
        <testsuite name="Orm">
            <directory>./tests/Cases/Orm</directory>
        </testsuite>
        <testsuite name="Router">
            <directory>./tests/Cases/Router</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory>./tests/Cases/Controller</directory>
        </testsuite>
    </testsuites>
</phpunit>